{% extends 'masajdApp/base.html' %}

{% block title %} Add New problem {% endblock %}


{% block content %}
  <h1>Add New Post</h1>

  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label  class="form-label">mosque_name</label>
        <input type="text" class="form-control" name="mosque_name">
    </div>
    <div class="mb-3">
        <label  class="form-label">city</label>
        <input type="text" class="form-control" name="city">
    </div>
    <div class="mb-3">
        <label  class="form-label">location</label>
        <input type="text" class="form-control" name="location">
        
    </div>
    <div class="mb-3">
        <label  class="form-label"> PhoneNum</label>
        <input type="text" class="form-control" name="PhoneNum">
    </div>

    <div class="mb-3">
        <label  class="form-label">Description</label>
        <textarea type="text" class="form-control" name="Description "></textarea>
    </div>
    
    <div class="mb-3"> 
    <label  class="form-label">Post Image</label>
        <input type="file" name="image" accept="image/*" class="form-control" />
     </div>

     <div class="mb-3"> 
        <input class="btn btn-primary" type="submit" value="Creat Post" />
    </div>
        

    </form>

{{ProblemForm}}

{% endblock %}