{% extends 'masajdApp/base.html' %}

{% block title %} all problem {% endblock %}




{% block content %}

<h1> problem </h1>
<div class="container">
    <table class="table">
        <thead>
        <tr> 
            <th scope="col">mosque_name </th>
            <th scope="col">city</th>
            <th scope="col">Description</th>
            
        </tr>
        </thead>
        <tbody>
            {% for problem in problems %}
            <tr>
                <th scope="row"><a href="{% url 'masajdApp:problem_detail' problem.id %}">{{problem.mosque_name}}</a></th>
                <td>{{ problem.Description}}</td>
                <td>{{ problem.mosque_name }}</td>
                <td>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Edit
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'masajdApp:update_problem' problem.id %}">Update</a></li>
                          <li><a class="dropdown-item" href="{% url 'masajdApp:delete_problem' problem.id %}">Delete</a></li>
                        </ul>
                      </div>

                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}